<!DOCTYPE html>
<html>
<head><title>Our Services<link rel="stylesheet" href="/css/style.css">
</title></head>
<body>
  <h2>Our Services</h2>
  <ul>
    <li>Rooftop Solar Installations</li>
    <li>Utility-Scale Solar Projects</li>
    <li>Solar Panel Maintenance</li>
  </ul>
  <a href="/">Back to Home</a>
</body>
</html>
