<!DOCTYPE html>
<html>
<head>
    <title>Services - Solar Website</title>
</head>
<body>
    <h1>Our Services</h1>
    <ul>
        <li>Residential Rooftop Solar Installation</li>
        <li>Commercial EPC Projects</li>
        <li>Maintenance & Inspection Services</li>
    </ul>
    <a href="/">Home</a> | <a href="/about">About</a> | <a href="/contact">Contact</a>
</body>
</html>
